* {
    box-sizing: border-box;
  }

/* @media only screen and (min-width: 65em){

} */

body {
    margin: auto;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    background-color: rgb(73, 69, 69);
    padding: .5rem;
}

.card1 {
    margin: 50px;
    background-color: rgb(129, 25, 25);
    width: 320px;
    padding: 5px 10px 10px 10px;
    border: 5px solid rgb(129, 25, 25);;
    border-radius: 10px;
    color: white;
    overflow: scroll;
    
}

.card2 {
    margin: 50px;
    background-color: rgb(129, 25, 25);
    width: 320px;
    padding: 5px 10px 0 10px;
    border: 5px solid rgb(129, 25, 25);
    border-radius: 10px;
    color: white;
}

.card3 {
    margin: 50px;
    background-color: rgb(129, 25, 25);
    width: 320px;
    padding: 5px 10px 10px 10px;
    border: 5px solid rgb(129, 25, 25);;
    border-radius: 10px;
    color: white;
    overflow: scroll;
    
}

#grid {
    /* Flexbox option */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    margin: 5%;
    
    /* flex-wrap: wrap;
    gap: 25px;
    max-width: 1200px;
    margin: auto; */

}

h1 {
    font-size: 5em;
    text-align: center;
    color: white;
    text-decoration-line: overline;
    text-decoration-color: rgb(129, 25, 25);
}

h2 {
    font-weight: 900;
    line-height: .9em;
}

h3 {
    font-weight: 500;
    font-style: italic;
    line-height: 0.1em;
}

p {
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: rgb(240, 169, 54);
}

img {
    justify-items: center;
    width: 100%;
}

#return_home {
    /* border-right: 6px solid red; */
    background-color: rgb(129, 25, 25);
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-left: 50px;
    
}

a:hover {font-size:150%;}
 
.header {
    padding: 1rem;
    justify-content: center;
}

img {
    border-radius: 8px;
  }

footer {
    background-color: rgb(129, 25, 25);
    color: white;
    padding: 10px;
    text-align: center;
    margin: 25px 50px 75px 50px;
    border-radius: 5px;
}


/* @media only screen and (min-width: 32.5em) {

    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
} */

