* {
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
  }

html {
    background-color: black;
}

body {
    max-width: 900px;
    margin: 0 auto;
    padding: 0.75rem;
}


/* .card1 {
    margin: 50px;
    background-color: rgb(129, 25, 25);
    width: 320px;
    padding: 5px 10px 10px 10px;
    border: 5px solid rgb(129, 25, 25);;
    border-radius: 10px;
    color: white;
    overflow: scroll;
    
} */

.card2 {
    background-color: rgb(129, 25, 25);
    width: 280px;
    padding: 5px 10px 0 10px;
    border: 5px solid rgb(129, 25, 25);
    border-radius: 10px;
    color: white;
}

/* .card3 {
    margin: 50px;
    background-color: rgb(129, 25, 25);
    width: 320px;
    padding: 5px 10px 10px 10px;
    border: 5px solid rgb(129, 25, 25);;
    border-radius: 10px;
    color: white;
    overflow: scroll;
    
} */

/* #grid { */
    /* Flexbox option */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    margin: 5%; */
    
    /* flex-wrap: wrap;
    gap: 25px;
    max-width: 1200px;
    margin: auto; */

/* } */

h1 {
    font-size: 5em;
    text-align: center;
    color: white;
    text-decoration-color: rgb(129, 25, 25);
    margin-bottom: 0.25em;
}

header > span {
    font-size: medium;
    color: rgb(255, 255, 255);
}

h2 {
    font-weight: 900;
    line-height: .9em;
    color: white;
}

h3 {
    font-weight: 500;
    font-style: italic;
    line-height: 0.1em;
    margin: 0;
    padding: 10px;
    background: rgb(228, 96, 96);
    color: white;
    border-radius: 10px;
}

p {
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: rgb(240, 169, 54);
}

img {
    justify-items: center;
    width: 100%;
}

#return_home {
    /* border-right: 6px solid red; */
    background-color: rgb(129, 25, 25);
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-left: 50px;
    
}

section > div {
    padding: 0 10px;
}
section > div > span {
    display: block;
}
section > div > * {
    font-size: 1.05em;
}
section img {
    width: calc(100% - 2px);
    display: block;
    margin: 0 auto;
    border: solid 1px gray;
    max-width: 320px;
}

a:hover {font-size:150%;}
 
header {
    text-align: center;
    background-color: rgb(129, 25, 25);
    border-radius: 0 0 10px 10px;
    color: white;
    padding: 1em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    /* width: 95%; */
    margin: 20px auto;
    color: white;
    width: 880px;
    padding: 5px 10px 10px 10px;
    border: 2px solid rgb(129, 25, 25);;
    border-radius: 15px;
    color: white;
}

section {
    border-radius: 10px;
    background-color: rgb(129, 25, 25);
    border: solid 15px rgb(129, 25, 25);
}
section * {
    font-family: 'Ubuntu', sans-serif;
}

img {
    border-radius: 8px;
  }

footer {
    background-color: rgb(129, 25, 25);
    color: white;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;

}

