@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Roboto&display=swap');
* {
    box-sizing: border-box;
  } 

html {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
}

body {
    border-radius: 5px;
    min-height: 406px;
    height: 40%;
    width: 70%;
    max-width: 700px;
    background-color: white;
    font-family: var(--heading-font);
    margin: 0;
}
header {
    padding: 2.5em;
    display: grid;
    position: relative;
    background-color: rgb(72, 14, 14);
    grid-template-columns: auto 20%;
    grid-template-rows: 5em;
    justify-items: center;
    z-index: 15;
}
h1 {
    font-size: 50px;
    color: white;
    align-self: center;
}
header > img {
    width: 70%;
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
}
main {
    width: 97%;
    height: calc(100% - 5em - 6em - 4em + 5px);
    margin: 2em 0 2em auto;
    position: relative;
}
h2 {
    border-bottom: solid 1px #cccccc;
    margin-bottom: 0;
    width: 95%;
    text-shadow: 2px 2px 4px #360404;
}
ul {
    margin: 0;
    padding-top: 10px;
    width: calc(100% - 40px);
    height: 94%;
    overflow-y: auto;
    
}
ul li {
    padding-bottom: 5px;
}

a {
    color: black;
}

a:hover {
    color: rgb(235, 30, 30);
}
a:active {
    color: tomato;
}
footer {
    background-color: rgb(210, 143, 143);
    position: relative;
    color: white;
    padding: 1em;
    text-align: center;
    z-index: 10;
}
footer a {
    color: white;
    text-decoration: none;
    transition: color 0.5s, text-shadow 0.5s;
}
footer a:hover {
    color: lightgreen;
    text-shadow: 1px 1px 10px lightblue;
}
#updated {
    color: rgb(45, 55, 59);
    font-size: 12px;
}
#not-reasonable-size {
    display: none;
}
.name {
    display: none;
}
.rul1 {
    display: inline;
    
}


#scroll-down {
    position: absolute;
    transition: all 0.4s;
    top: calc(100% + 40px);
    background-color: rgba(119, 42, 42, 0.8);
    transform: translate(-50%,0);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 0.7rem;
    color: white;
    left: 50%;
}
#scroll-down.up {
    top: calc(100%);
}


::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(72, 14, 14);
    border-radius: 5px;
}

a:hover {font-family:monospace;}