@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-top: 20px;
        flex-direction: column;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 0;
    }
} 

@media screen and (min-width: 1024px) {
    /* Styles for large screens go here */
  }
  
@media screen and (min-width: 1024px) and (max-width: 1366px) {
    /* Styles for screens between 1024px and 1366px wide go here */
  }

   /* Directory styles */

#directory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    background-color: var(--secondary-bk-color);
    border: 1px solid black;
    padding: 1em;
}

.card img {
    height: 100px;
    max-width: 125px;
    width: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    align-items: center;
}

/* Join page */

#join-main-content {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-evenly;
}
