@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Roboto&display=swap');
* {
    box-sizing: border-box;
  } 
body {
    font-family: var(--heading-font);
    margin: 0;
}

div {
    margin: 50px;
    flex: auto;
}

nav{
    height: 35vh;
    margin: 10%;
    margin: 100px 50px 100px 50px;
}

a{
    text-decoration: none;
    color: black;
}

#name {
    text-align: center;
    color: white;
    font-size: 40px;
    
  }

footer {
    background-color: gray;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 25px 50px 75px 50px;
    border-radius: 5px;
}

header {
    display: flex;
    align-content: space-around;
    min-height: 170px;
    background-color: black;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding: 1px;
    margin: 25px 50px 50px 50px;
    border-radius: 5px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 150px;
    margin-right: 200px;
    display: block;
    margin-left: 20px;
    margin-right: 150px;
}

nav a:hover{
    color: royalblue;
}

@media (max-width: 700px) {
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

a:visited {color:#0000ff;}
a:hover {font-family:monospace;}

h2 {
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}

li {
    font-size: 18px;
}


